#about-us {
    /* background-color: red; */
    /* border: 2px solid ; */
    height: 90%;
}



#about-us .top {
    height: 20%;
    display: flex;
    justify-content: space-between;
    padding: 3%;

    & h3 {
        font-size: 1.6em;
        font-weight: 400;
    }

    & h2 {
        font-size: 2.1em;
        color: rgb(70, 73, 77);
        font-weight: 500;

        & span {
            font-weight: 700;
            color: var(--primary);
        }
    }


}

#about-us .bottom {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: calc(var(--round) + 20px);
    position: relative;
    overflow: hidden;



    & img {
        height: 100%;
        position: absolute;
        bottom: 0;
        left: -5%;
        z-index: 99;
    }
}

/* div{
    border: 2px solid;
} */

#about-us .about-bottom-content {
    background-color: #bee8ff;

    height: 70%;
    width: 100%;
    /* border-radius: 20px; */
    border-radius: calc(var(--round) + 20px);

    position: absolute;
    bottom: 0;
    right: 0;
    overflow: hidden;

}

.content {
    flex-shrink: 0;
    position: absolute;
    right: 40px;
    bottom: 0;
    height: 65%;
    width: 45%;

}

.content>div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.stats {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    font-size: 1.5rem;

    & h4 {
        font-size: 0.7em;
        font-weight: 400;
    }
}

.content>div:nth-child(2) {
    flex-direction: column;
    padding: 30px;
    position: relative;

    & p {
        text-align: justify;
        margin-bottom: 50px;
    }


}




.about-btn {
    position: absolute;
    right: 20px;
    bottom: -40px;
    border: none;
    opacity: 1;
    width: 290px;
    height: 75px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    color: white;
    /* background-color: red; */
    backdrop-filter: blur(2px);
    background: rgba(0, 0, 0, 0.333);
    box-shadow:
        
        inset 0 1px 0 rgba(255, 255, 255, 0.4),
        inset 0 -1px 0 rgba(255, 255, 255, 0.1);
}

.about-btn:hover .move-cont {
    margin-left: 107%;

}

.about-btn h3 {
    text-wrap: nowrap;
}


.about-btn .move-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*  Initial position*/
    margin-left: -40%;
    transition: 0.4s margin ease-in-out;
}

.about-btn i {
    color: black;
    height: 60px;
    width: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: white;

}