*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100vh;
}

.cont{
    border: 2px solid black;
    height: 350px;
    margin-top: 20px;
    overflow: hidden;
}



.btn-cont{
    margin: auto;
    width: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0;
    
}


.btn-cont button{
    height: 20px;
    width: 20px;
    border-radius: 50%;

}
.slider{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(15 , 18vw);
    grid-template-rows: 350px;
    gap: 20px; 
}

.slider img{
    height: 350px;
    width: 18vw;
    border: 2px solid black;
}