* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: radial-gradient(circle at top, #1f2937, #0b0f19);
    color: #e5e7eb;
}

button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 50px;
    padding: 10px 20px;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;

}

button:hover {
    background: linear-gradient(135deg, #6366f1, #22d3ee);


}

.card {
    width: 360px;
    background: linear-gradient(145deg, #111827, #020617);
    border-radius: 16px;
    padding: 24px;
    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.8),
        inset 0 0 0 1px rgba(255, 255, 255, 0.05);

        display: none;
}

.card .avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: linear-gradient(135deg, #6366f1, #22d3ee);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    font-weight: bold;
    color: #020617;
    margin: 0 auto 16px;
    box-shadow: 0 0 25px rgba(99, 102, 241, 0.6);
}

.card .name {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 4px;
}

.card .username {
    text-align: center;
    font-size: 14px;
    color: #9ca3af;
    margin-bottom: 20px;
}

.card .section {
    font-size: 14px;
    line-height: 1.6;
}

.card .row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.card .row span {
    color: #9ca3af;
}

.card .company {
    margin-top: 18px;
    padding: 14px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.03);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.card .company h4 {
    color: #60a5fa;
    font-size: 15px;
    margin-bottom: 6px;
}

.card .company p {.skeleton
    font-size: 13px;
    color: #d1d5db;
}

.card .company small {
    font-size: 12px;
    color: #9ca3af;
}



/* skeleton */




.skeleton {
    height: 470px;
    width: 360px;
    background-color: #878585;
    border-radius: 20px;
    border-radius: 16px;
    padding: 24px;
    box-shadow:
        0 15px 40px rgba(0, 0, 0, 0.8),
        inset 0 0 0 1px rgba(255, 255, 255, 0.05);

}


.skeleton .avatar {
    width: 90px;
    background-color: lightgray;
    height: 90px;
    border-radius: 50%;
    margin: 0 auto 16px;
}

.skeleton .name {
    background-color: lightgray;
    border-radius: 20px;
    height: 22px;
    margin-bottom: 4px;
}

.skeleton .username {
    text-align: center;
    background-color: lightgray;
    border-radius: 20px;
    height: 14px;
    color: #9ca3af;
    margin-bottom: 20px;
    width: 50px;
    margin: 10px auto;
}

.skeleton .section {
    height: 14px;
    background-color: lightgray;
    border-radius: 20px;
    line-height: 1.6;
    height: 30%;
}



.skeleton .company {
    margin-top: 18px;
    background-color: lightgray;
    border-radius: 20px;
    padding: 14px;
    border-radius: 12px;
    background: rgba(227, 209, 209, 0.308);
    border: 1px solid rgba(255, 255, 255, 0.06);
}

.skeleton .company div {
    color: #60a5fa;
    background-color: lightgray;
    border-radius: 20px;
    height: 15px;
    margin-bottom: 6px;
}


.skeleton * {
    opacity: 1;
    animation: load 0.8s ease-in-out infinite alternate;

}






@keyframes load {
    100%{
        opacity: 0.4;
    }
}



.skeleton{
    display: none;
}